<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>La Liga</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<style>
			body{
				background-image: url("https://previews.123rf.com/images/scenery1/scenery11708/scenery1170800055/83891725-fondo-de-c%C3%A9sped-campo-de-f%C3%BAtbol-de-hierba-verde-patr%C3%B3n-de-fondo.jpg");
			}
		</style>
	</head>
		<body class="card-body">

	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
		    <a class="navbar-brand" th:href="@{/showAllPlayers}" role="button">Jugadores disponibles.</a>
			<a class="navbar-brand" th:href="@{/searchPlayerByView}" role="button">Buscar un Jugador</a>
			<a class="navbar-brand" th:href="@{/newPlayerView}" role="button">Insertar un jugador.</a>
			<a class="navbar-brand" th:href="@{/newTeamPlayerView}" role="button">Insertar un Equipo-Futbolista.</a>
		</nav>
		<br>
		
		<div class="card text-white bg-dark mb-3">
		  <div class="card-header">Datos del nuevo equipo</div>
		  <div class="card-body">
				<form th:action="@{/actAddTeam}" th:object="${newTeam}" method="POST">
					<div class="form-group">
			  			<label for="inpCarRegs">Nombre</label>
			  			<input type="text" required="required" class="form-control" id="inpCarRegs" name="nombre" placeholder="Nombre.">
					</div>
					<div class="form-group">
						  <label for="inpCarBrand">Fecha de Creacion</label>
						  <input type="date" required="required" class="form-control" id="inpCarBrand" name="fechaCreacion" placeholder="fechaCreacion.">
					</div>
					<div class="form-group">
						  <label for="inpCarModel">Estadio</label>
						  <input required="required" type="text" class="form-control" id="inpCarModel" name="estadio" placeholder="Estadio.">
					</div>
					<button type="submit" name="btnAddTeam" class="btn btn-success">Añadir</button>
					<a class="btn btn-primary" href="index" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>